/* All paragraphs need to be font size 12, needs to be justifiy aligned, cursive and white.*/


p
{
	text-align: justify;
	font-size: 12pt;
	font-family:"Apple Chancery", cursive;
	color: Black;
}

h1
{	
	font-size: 20pt;
	font-family:"Luminari", fantasy;
	color:LightCoral;
       
}

h2
{
	font-size:14pt;
	font-family:"Snell Roundhand", cursive;
	color:Plum;
}

body 
{
    	background-image:url("Background.jpg");
	background-size: 1500px 900px;
} 



h3
{	
	text-align:center;
	color:#B2004C;
	font-family:"American Typewriter", serif;
}
